<ion-view view-title="Iniciar Sesión">
  <ion-content class="padding">
      <form class="list">
        <label class="item item-input">
          <span class="input-label">Correo </span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input type="password">
        </label>
        </form>
      <button class="button button-block button-calm">
          Iniciar Sesión
      </button>
      <br>
      <button class="button button-block button-calm">
          Registrarse
      </button>
      <button class="button button-block button-calm">
          Olvidaste la contraseña
      </button>
  </ion-content>
</ion-view>
