<ion-view view-title="Configuraciones">
    <ion-content>
        <div class="row padding">
          <div class="col icon item-avatar">
            <a ui-sref="evaluation"><h2>Cambiar contraseña</h2></a>
            <menu-icon ref="config-changePassword" img="./img/6.svg"
                description="Cambia tu contraseña"></menu-icon>
          </div>
          <div class="col icon item-avatar">
            <a ui-sref="self"><h2>Actualizar percfil</h2></a>
            <menu-icon ref="config-update" img="./img/10.svg"
                description="Actualiza tu información"></menu-icon>
          </div>
        </div>
        <div class="row padding">
          <div class="col icon item-avatar">
            <a ui-sref="results-institution"><h2>Ayuda</h2></a>
            <menu-icon ref="config-help" img="./img/7.svg"
                    description="Entra a ayuda"></menu-icon>
          </div>
          <div class="col icon item-avatar">
            <a ui-sref="indicators"><h2>Acerca de</h2></a>
            <menu-icon ref="config-about" img="./img/9.svg"
                description="Entra al Acerca de"></menu-icon>
          </div>
        </div>
    </ion-content>
</ion-view>
