<ion-view view-title="Configuraciones">
    <ion-content>
        <div class="row padding">
          <div class="col icon item-avatar">
            <menu-icon ref="config-changePassword" title="Cambiar contraseña"
                img="./img/6.svg"
                description="Cambia tu contraseña"></menu-icon>
          </div>
          <div class="col icon item-avatar">
            <menu-icon ref="config-update" img="./img/10.svg"
                description="Actualiza tu información"
                title="Actualizar perfil"></menu-icon>
          </div>
        </div>
        <div class="row padding">
          <div class="col icon item-avatar">
            <menu-icon ref="config-help" img="./img/7.svg"
                    description="Entra a ayuda"
                    title="Ayuda"></menu-icon>
          </div>
          <div class="col icon item-avatar">
            <menu-icon ref="config-about" img="./img/9.svg"
                description="Entra al Acerca de"
                title="Acerca de"></menu-icon>
          </div>
        </div>
    </ion-content>
</ion-view>
