<ion-view view-title="Actualizar perfil">
    <ion-content class="padding">
        <form class="list" name="updateForm"
                ng-submit="update(user, evaluee, updateForm)"
                novalidate>
            <label class="item item-input item-stacked-label" for="id">
                <span class="input-label">Número de documento</span>
                <input type="number" ng-model="user.id" name="id"
                        ng-disabled="true" required>
                <span ng-show="validate(updateForm, 'id')" class="text-assertive">
                    Tiene que ser un número
                </span>
            </label>
            <label class="item item-input item-stacked-label"
                    for="first_name">
                <span class="input-label" >Nombres</span>
                <input type="text" ng-model="user.first_name"
                        name="first_name" required>
                <span ng-show="validate(updateForm, 'first_name')"
                    class="text-assertive">
                    Campo obligatorio
                </span>
            </label>
            <label class="item item-input item-stacked-label" for="last_name">
                <span class="input-label">Apellidos</span>
                <input type="text" name="last_name" ng-model="user.last_name"
                        required>
                <span ng-show="validate(updateForm, 'last_name')"
                    class="text-assertive">
                    Campo obligatorio
                </span>
            </label>
            <label class="item item-input item-stacked-label" for="birth_date">
                <span class="input-label">Fecha de nacimiento</span>
                <input type="number" placeholder="aaaammdd" ng-maxlength="8"
                        ng-minlength="8" name="birth_date"
                        ng-model="user.birth_date" required>
                <span ng-show="validate(updateForm, 'birth_date')"
                        class="text-assertive">
                        Fecha de nacimiento no válida
                </span>
            </label>
             <label class="item item-input item-stacked-label" for="mail">
                 <span class="input-label">Correo</span>
                 <input type="email" name="mail" ng-model="user.mail" required
                 ng-pattern="/^[a-z][\w.-]+@\w[\w.-]+\.[\w.-]*[a-z][a-z]$/i">
                 <span ng-show="validate(updateForm, 'mail')"
                    class="text-assertive">
                     Tiene que ser un correo válido
                 </span>
             </label>
             <label class="item item-input item-select" for="gender">
                 <div class="input-label" >
                   Género
                 </div>
                 <select ng-model="evaluee.gender_id" name="gender" required
                     ng-options="gender.id as gender.description for gender in genders">
                 </select>
              </label>
             <label class="item item-input item-select" for="disability">
                 <div class="input-label">
                   Condición visual
                 </div>
                 <select ng-model="evaluee.disability_id" name="disability" required
                 ng-options="disability.id as disability.description for disability in disabilities">
                 </select>
              </label>
             <label class="item item-input item-select" for="type">
                 <div class="input-label">
                   Tipo de usuario
                 </div>
                 <select ng-model="evaluee.evaluee_type" name="type" required
                 ng-options="type.id as type.description for type in types">
                 </select>
              </label>
             <label class="item item-input item-select" for="level">
                 <div class="input-label">
                   Nivel de formación
                 </div>
                 <select ng-model="evaluee.level_id" name="level" required
                 ng-options="level.id as level.description for level in levels">
                 </select>
              </label>
              <input type="submit" class="button button-block button-calm"
                      value="Registrar">
        </form>
    </ion-content>
</ion-view>
