<ion-view view-title="Menú Principal" hide-back-button="true">
    <ion-content>
        <div class="row padding">
          <div class="col icon item-avatar">
            <menu-icon ref="evaluation" img="./img/1.svg" title="Evaluacion"
                description="Encuentra las pruebas que debes presentar según su asignatura"></menu-icon>
          </div>
          <div class="col icon item-avatar">
            <menu-icon ref="self" img="./img/2.svg" title="Evalúate"
                description="Reta tu conocimiento y prepárate para tus pruebas"></menu-icon>
          </div>
        </div>
        <div class="row padding">
          <div class="col icon item-avatar">
            <menu-icon ref="indicators" img="./img/3.svg" title="Resultados"
            description="Revisa el puntaje en poco tiempo y la retroalimentación para mejorar"></menu-icon>
          </div>
          <div class="col icon item-avatar">
            <menu-icon ref="indicators" img="./img/4.svg" title="Promedio"
            description="Conoce los avances de tus conocimientos"></menu-icon>
          </div>
        </div>
        <div class="row padding">
          <div class="col icon item-avatar">
            <menu-icon ref="config" img="./img/5.svg" title="Configuraciones"
            description="Configura tu aplicación"></menu-icon>
          </div>
          <div class="col icon item-avatar">
            <menu-icon ref="logout" img="./img/9.svg" title="Cerrar Sesión"
             description="Cierra esta sesión"></menu-icon>
          </div>
        </div>
    </ion-content>
</ion-view>
